<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,
  maximum-scale=5"
    />
    <title>404 Not Found</title>
    <link rel="stylesheet" href="css/styles-404.css" />
  </head>
    <body>

      <h2 id="not-found">404 Not Found</h2>
      <div class="container">
      <img id="scarecrow" src="images/404error.gif" alt="rocket-human-spaceship" />
      <div class="bad-news">
      <h3>I have bad news for you</h3>
      <p>The page you're looking for might be removed or temporarily unavailable</p>
      <button><a href="/">Back to Home Page</a></button>
      </div>
      </div>

      <div class="attribution">
      <p>Created By </p>
      <a href="https://shuvrojit.github.io">Shuvrojit Biswas</a>
      </div>
  </body>
</html>
