<link href="{{ $.Site.BaseURL }}css/header.css" rel="stylesheet" />

<nav class="nav">
  <h1 class="nav-title">
    <a href="/">Shuvrojit Biswas</a>
  </h1>
  <ul class="nav-list" id="nav-list">
    <li class="nav-item">
      <a href="https://shuvrojit.github.io/blog/">Home</a>
    </li>
<li class="nav-item">
      <a href="/blog/posts">Posts</a>
    </li>

    <li class="nav-item">
      <a href="/blog/categories">Categories</a>
    </li>
    <li class="nav-item">
      <a href="/blog/tags">Tags</a>
    </li>
  </ul>
  <!-- <div class="action-panel-wrapper"> -->
  <!--   <img src="/images/search.svg" alt="search" class="logo" width="24" height="24"> -->
  <!--   <img src="/images/bag.svg" alt="cart" class="logo" width="24" height="24"> -->
  <!--   <img src="/images/heart.svg" alt="wishlist" class="logo" width="24" height="24"> -->
  <!-- </div> -->
  <div class="hamburger-menu" id="hamburger-menu">
    <span class="bar1"></span>
    <span class="bar2"></span>
    <span class="bar3"></span>
  </div>
</nav>
