.nav {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  /* top: 0; */
  background-color: #fff;
  z-index: 1000;
}

.nav-title {
  margin: 1rem;
  margin-left: 20px;
  font-size: 1.2rem;
  font-weight: 700;
}

.nav-list {
  font-size: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.nav-item {
  margin-right: 1rem;
}

.hamburger-menu {
  display: block;
  cursor: pointer;
  z-index: 999;
  margin: 1rem;
}

.hamburger-menu span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: black;
  margin-bottom: 5px;
  transition: 0.4s;
}

.hamburger-menu span:nth-child(3) {
  margin-bottom: 0;
}

.bar1.change {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.bar2.change {
  opacity: 0;
}

.bar3.change {
  transform: rotate(45deg) translate(-8px, -8px);
}

@media (max-width: 768px) {
  .nav-list {
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    display: none;
    z-index: 100;
    gap: 1rem;
    transition: 0.3s;
  }

  .nav-list.open {
    display: flex;
  }

  .hamburger-menu {
    display: block;
  }
}

@media (min-width: 769px) {
  .hamburger-menu {
    display: none;
  }
}

.action-panel-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-right: 20px;
}

.logo {
  width: 24px;
  height: 24px;
}
