* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


#not-found {
    font-family: monospace;
    font-size: 1.8rem;
    margin: 30px 0 0 60px;
}


#scarecrow {
    width: 400px;
    height: 400px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 6rem auto 4rem;;
}


.bad-news>h3 {
    font-family: Arial;
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    max-width: 550px;
    margin-bottom: 1rem;
}

.bad-news>p {
    font-size: 1.7rem;
    max-width: 450px;
    letter-spacing: 0.1rem;
    margin-bottom: 2.5rem;
}

.bad-news>button {
    padding: 0.5rem;
    cursor: pointer;
    letter-spacing: 0.1rem;
    font-size: 1.0rem;
    margin: auto;
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    max-width: 300px;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}

.bad-news>button>a {
    color: #fff;
}

.attribution {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 190px;
    margin: auto;
    margin-bottom: 1rem;
}

.attribution>a {
    color: brown;
}


@media screen and (max-width: 900px) {
    .bad-news>h3 {
        font-size: 3rem;
    }

    .container {
        margin-bottom: 4rem;
    }
    .bad-news>p {
        font-size: 1.4rem;
        max-width: 300px;
    }
}

@media screen and (max-width: 750px) {

    #not-found {
        font-size: 1.5rem;
    }
    .container {
        flex-direction: column;
        margin: 3rem auto;
    }
    #scarecrow {
        width: 250px;
        height: 250px;
        margin: auto;
    }

    .bad-news {
        text-align: center;
        margin: auto;
        max-width: 90vw;

    }
    .bad-news>h3 {
        font-size: 2.3rem;
    }
    .bad-news>p {
        font-size: 1.2rem;
        max-width: 80vw;
        margin: auto;
    }
    .bad-news>button {
        margin: 2rem auto;

    }

    #not-found {
        margin: 2rem auto 1rem;
        text-align: center;
    }

}

@media screen and (max-width: 545px) {
    .container {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    #not-found {
        margin: 2rem auto 1rem;
        text-align: center;
    }

}

@media screen and (max-width: 400px) {

    #not-found {
        margin: 2rem auto 1rem;
        text-align: center;
    }
    .container {
        margin-top: 1rem;
        margin-bottom: 1.3rem;
    }
}
